    .page{
        background-color:#808080;
    }
    .heading{
        text-align:center;
        font:italic bold 20px Arial, sans-script;
        background-color:#303030;
        border-radius:5px;
        padding:5px 5px 5px 5px;
        border-style:bold;
        border-width:5px;
    }
    .matchtable{
        text-align:center;
        background-color:#808080;
        margin:-20px 0px -20px 0px;
        padding:5px 20px 20px 20px;
        border-style:bold;
        border-width:5px;
    }
    .inputstuff{
        text-align:center;
        background-color:#A0A0A0;
        border-radius:5px;
        margin:-0px 0px 20px 0px;
        padding:5px;
        border-style:bold;
        border-width:5px;
    }
    .inputbox{

    }
    .stillplay{
        
    }
